body{
    background-color: #fbf0bb;
    padding-left: 17rem;
    padding-top: 0px;
}

h1,h2,h3{
    font-family: 'Days One', sans-serif;
    text-transform: uppercase;
    color: #347199;
}
h1{
    font-size: 4rem;
    color: #2f5377;
    line-height: 5.5rem;
    font-weight: 400;

}
h2{
    font-weight: 200;
    font-size: 2rem;
}

.normal-text{
    font-family: 'Doppio One', sans-serif;
    color: #477eb4;
    font-size: 20px;
    padding-left: 15px;
}


.skill-medal{
    border-bottom-right-radius :100vh;
    border-bottom-left-radius :100vh;
    border: solid #234f7f;
    background-color: #e2c400;
}

#navbar-vertical{
    font-family: 'Days One', sans-serif;
    text-align: center;
    font-size: larger;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100vh;
}

#navbar-vertical .navbar-nav{
    flex-direction: column;
    width: 100%;
}

#navbar-vertical .img-avatar {
    max-width: 17rem;
    max-height: 17rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.3);
}

#navbar-vertical .nav-link {
    font-weight: 300; /* TO CHANGE AFTER FONT REPLACE*/
    text-transform: uppercase;
}
#navbar-vertical .nav-link:hover {
    /* WHAT TO DO WHEN HOVER ON NAV-LINK IN NAVBAR
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    */
}

.resume-date{
    min-width: 18rem;
}

section.section-all{
    border-bottom: 1px solid #2f5377;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    height: 100vh;
    opacity: 1;
}

.additions {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
}


.skill-bar-circle {
    margin: 10px;
    width: 150px;
    height: 150px;
    position: relative;
}


.icon{
    font-size: 4.5rem !important;
    /*opacity: 0.4; */
}

.bg-primary{
    background-color: #234f7f !important;
}

.text-primary {
    color: #477eb4 !important;
}

.text-secondary{
    color: #cabb0f !important;
}