body{
    background-color: ghostwhite;
    padding-left: 17rem;
    padding-top: 54px;
}

h1,h2,h3{
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    color: #0b8211;
}
h1{
    font-size: 4rem;
    line-height: 5.5rem;
    font-weight: 400;

}
h2{
    font-weight: 200;
    font-size: 2rem;
}

#navbar-vertical{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: larger;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100vh;
}

#navbar-vertical .navbar-nav{
    flex-direction: column;
    width: 100%;
}

#navbar-vertical .img-avatar {
    max-width: 17rem;
    max-height: 17rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.3);
}

#navbar-vertical .nav-link {
    font-weight: 300; /* TO CHANGE AFTER FONT REPLACE*/
    text-transform: uppercase;
}
#navbar-vertical .nav-link:hover {
    /* WHAT TO DO WHEN HOVER ON NAV-LINK IN NAVBAR
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    */
}

.resume-date{
    min-width: 18rem;
}

section.section-all{
    border-bottom: 1px solid #3e444e;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    height: 100vh;
}



.additions {
    text-transform: uppercase;
    font-size: 1.4rem;
}

.description{

}



/*
#skill-bars {
    margin: 2em auto;
    max-width: 960px;
    overflow: hidden;
}

.bar {
    float: left;
    width: 20%;
    text-align: center;
}


.bar h1 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}
.bar-circle {
    display: block;
    margin: 0.7em auto;
}
*/

.bg-primary{
    background-color: #0b8211 !important;
}

.text-primary {
    color: #bd111b !important;
}

.text-secondary{
    color: #c66a06 !important;
}